a {
  display: inline-block;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

// 去除 input number 預設上下箭頭
input::-webkit-outer-spin-button, input::-webkit-inner-spin-button {
  -webkit-appearance: none;
}

input[type="number"] {
  -moz-appearance: textfield;
}

// select 選單設定
select:required:invalid {
  color: $gray-600;
}


option[value=""][disabled] {
  display: none;
}

option {
  color: $dark;
}

// 禁止按鈕
button[disabled] {
  cursor: not-allowed;
}
